<h1>分类展示</h1>

<table>
  <thead>
  <tr>
    <th>类型名</th>
    <th>操作</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @clas.each do |cla| %>
      <tr>
        <td><%= cla.claname %></td>
        <td><%= link_to 'Edit', edit_cla_path(cla) %></td>
        <td><%= link_to 'Destroy', cla, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>

<%= link_to '添加分类', new_cla_path %>

