
<!-- Login Screen -->
<div class="login-wrapper">
  <div class="login-container">
    <a href="index.html"><%=image_tag("login-login@2x.png")%></a>
    <form action="http://sharpandnimble.com/se7en/demo/index.html">
      <div class="form-group">
        <input class="form-control" placeholder="Username or Email" type="text">
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Password" type="text"><input type="submit" value="&#xf054;">
      </div>
      <div class="form-options clearfix">
        <a class="pull-right" href="#">Forgot password?</a>
        <div class="text-left">
          <label class="checkbox"><input type="checkbox"><span>Remember me</span></label>
        </div>
      </div>
    </form>
    <div class="social-login clearfix">
      <a class="btn btn-primary pull-left facebook" href="index-2.html"><i class="icon-facebook"></i>Facebook login</a><a class="btn btn-primary pull-right twitter" href="index-2.html"><i class="icon-twitter"></i>Twitter login</a>
    </div>
    <p class="signup">
      Don't have an account yet? <a href="signup1.html">Sign up now</a>
    </p>
  </div>
</div>
<!-- End Login Screen -->
