<p id="notice"><%= notice %></p>

<p>
  <strong>用户名:</strong>
  <%= @advertisement.title %>
</p>
<p>
  <strong>登录名:</strong>
  <%= @advertisement.adimage %>
</p>


<%= link_to 'Back', advertisements_path %>