<p id="notice"><%= notice %></p>

<p>
  <strong>派送员姓名:</strong>
  <%= @send.name %>
</p>
<p>
  <strong>登录名:</strong>
  <%= @send.login %>
</p>
<p>
  <strong>密码:</strong>
  ******
</p>

<%= link_to 'Back', sends_path %>
